@import 'utils/reset';
@import 'utils/libs';
@import 'utils/fonts';
@import 'utils/ui-kit';
@import 'utils/pre-header';
@import 'utils/menu';
@import 'utils/about-us';
@import 'utils/our-cases';


:root {
  font-size: 10px;
  background: $black;
  overflow: hidden;
}
