@import 'utils/reset';
@import 'utils/libs';
@import 'utils/fonts';
@import 'utils/ui-kit';
@import 'utils/pre-header';
@import 'utils/menu';
@import 'utils/about-us';
@import 'utils/our-cases';
@import 'utils/direction';
@import 'utils/how-we-work';
@import 'utils/team';
@import 'utils/our-clients';
@import 'utils/feedback';
@import 'utils/contacts';
@import 'utils/guide';
@import 'utils/caseLibrary';
@import 'utils/casePage';

:root {
  font-size: 10px;
  background: $black;
  overflow-x: hidden;
}
#app{
  background: $black;
  width: 100%;
}
