.menu
    .menu__button-mobile
        span
        span
    .menu__button
        span меню
        span
        span
    nav.menu__list
        a(href="#").link.menu-link главная
        ul
            li#who-are-we.menu-link кто мы
            li#what-are-we-doing.menu-link что мы делаем
            li#work-process.menu-link процесс работы
            li#our-team.menu-link наша команда
            li#our-clients.menu-link наши клиенты
        a(href="http://kram161.ru/interplar/caseLibrary.html").link.menu-link наши кейсы
        a(href="#").link.menu-link ваш проект
        a(href="mailto:mail@htmlacademy.ru").link creative.studio@interplar.com

