extends ../layouts/master

block title
  link(rel="stylesheet", href="assets/css/styles.min.css")

block content
  include ../includes/modules/menu
block content
  include ../includes/modules/pre-header


block scripts
  script(src="assets/scripts/main.min.js")
