.about-us{
  background: $black;
  margin: -15px 0 0 0;
  padding: 195px 0 0 0;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
  .mobile-line{
    position: relative;
    width: 100%;
    height: 2px;
    margin: 65px auto;
    background: $white;
    content: '';
    box-sizing: border-box;
    opacity: 1;
  }
  .button-1{
    margin: 31px 0 0 0;
  }
  h2{
    font-family: $montserrat300;
  }
}
@media (min-width: 576px){
  .about-us{
    padding: 73px 0 0 0;
    .mobile-line{
      width: 100vw;
    }
  }
}
@media (min-width:768px){

  .about-us{
    padding: 90px 0 0 0;
  }

}
@media (min-width:992px){

  .about-us{
    padding: 110px 0 0 0;
  }

}
@media (min-width:1200px){

  .about-us{
    padding: 120px 0 0 0;
  }

}