.guide{
  position:fixed;
  z-index: 5;
  mix-blend-mode: difference;
  width: 20px;
  height: 20px;
  left: 13px;
  top: 50%;
  transform: rotate(90deg) translateY(-50%);
  display: none;
  &__wrappe-img{
    width: 24px;
    height: auto;
    margin: 0 8px 0 0;
    flex-shrink: 0;
    img{
      display: block;
      transform: rotate(-90deg);
      width: 100%;
      height: 100%;
    }
    &:after{
      position: absolute;
      content: '';
      background: $white;
      height: 2px;
      width: 100vw;
      top: 50%;
      transform: translateY(-50%);
      right: calc(100% + 8px);
      z-index:4;
    }
  }
  p{
    font-size: 2.4rem;
    line-height: 100%;
    text-transform: uppercase;
    font-family:'BebasNeue-Regular',sans-serif;
    letter-spacing: 0.1em;
  }
  &__wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    z-index:5;
  }
  &__current-title{
    width: 100%;
    white-space: nowrap;
    position: relative;
    &:before{
      position: absolute;
      content: '';
      background: $white;
      height: 2px;
      width: 100vw;
      top: 50%;
      transform: translateY(-50%);
      left: calc( 100% + 8px);
      z-index:4;
    }
  }
  &__last-page{
    opacity: 0;
    left: -100%;
    position: absolute;
    font-size: 3.2rem;
    width: 0;
  }
  .active{
    left: 60%;
    transform: translate(-60%, -50%);
    .guide__wrapper-img{
      &:after{
        width: 0;
      }
    }
    .guide__last-page{
      opacity: 1;
      left: 0;
      position: relative;
      width: 100%;
    }
  }
}
@media (min-width:576px){

  .guide{
    display: block;
    left: 13px;
    &__wrappe-img{
      width: 16px;
    }
    p{
      font-size: 1.6rem;
      line-height: 100%;
    }
    .active{
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

}

