.how-we-work{
  background: $black;
  overflow: hidden;
  padding: 182px 0 0 0;
  h1{
    padding: 0 0 50px 0;
  }
  &__block-unit{
    hr{
      background: $white;
      opacity: 1;
      margin: 0;
      height: 2px;
    }
    p:not(:last-child){
      padding: 36px 0 10px 0;
      font-weight: 400;
    }
    p:last-child{
      padding: 0 0 48px 0;
    }
  }
}
@media (min-width:576px){

  .how-we-work {
    padding: 80px 0 0 0;
    &__block-unit {
      .long{
        width: 100vw;
      }
      p:not(:last-child) {
        padding: 20px 0 10px 0;
      }
      p:last-child {
        padding: 0 0 47px 0;
      }
    }
  }

}
@media (min-width:768px){

  .how-we-work {
    padding: 0;
    h1{
      padding: 0 0 75px 0;
    }
    &__block-unit {
      p:not(:last-child) {
        padding: 34px 0 16px 0;
      }
      p:last-child {
        padding: 0 0 84px 0;
      }
    }
  }

}
@media (min-width:992px){

  .how-we-work {
    h1{
      padding: 0 0 90px 0;
    }
    &__block-unit {
      p:not(:last-child) {
        padding: 53px 0 15px 0;
      }
      p:last-child {
        padding: 0 0 50px 0;
      }
    }
  }

}
@media (min-width:1200px){

  .how-we-work {
    &__block-unit {
      p:not(:last-child) {
        padding: 60px 0 15px 0;
      }
      p:last-child {
        padding: 0 0 72px 0;
      }
    }
  }

}