.pre-header{
  background: $black;
  padding: 100px 0;
  &__content-text{
    display: flex;
    flex-direction: column;
  }
}

@media (min-width:604px){

}
@media (min-width:904px){

}
@media (min-width:1240px){

}
@media (min-width:1440px){

}