.pre-header{
  background: $black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: $animation;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  &__content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    &-image{
      svg{
        max-width: 50px;
        max-height: 70px;
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    }
    &-text{
      display: flex;
      position: relative;
      flex: 0;
      width: 0;
      transition: $animation;
      visibility: hidden;
      opacity: 0;
      h1{
        display: flex;
        font-size: 3.2rem;
        line-height: 3.2rem;
        align-self: center;
        position: relative;
        width: 100%;
        &:after{
          position: relative;
          align-self: flex-end;
          top: -5px;
          margin: 0 0 0 -2px;
          content: '';
          background: $white;
          width: 0;
          height: 2px;
          transition: $animation;
        }
      }
      h2{
        position: absolute;
        right: 0;
        bottom: -24px;
        font-weight: 200;
        padding: 0 16px 0 0;
        font-family: $montserrat200;
      }
    }
    .pre-header__content-text-active{
      visibility: visible;
      transition: $animation;
      flex: 1;
      width: 100%;
      opacity: 1;
      h1{
        &:after{
          width: calc(100% + 18px);
        }
      }
    }
  }
  .logo-animation{
    animation:header-blur 2s linear infinite ;
  }
}
.pre-header-hide{
  height: 0;
  opacity: 0;
}
@media (min-width:360px){
  .pre-header{
    &__content{
      &-text{
        h2{
          position: absolute;
          right: auto;
          left: 108px;
          bottom: -24px;
          font-weight: 200;
        }
      }
    }
  }
}
@media (min-width:604px){
  .pre-header {
    &__content {
      &-image {
        svg {
          max-width: 60px;
          max-height: 80px;
          margin: 10px 0 0 0;
        }
      }

      &-text {
        h1 {
          font-size: 6.4rem;
          line-height: 6.4rem;
          &:after{
            top: -10px;
            margin: 0 0 0 -5px;
          }
        }
        h2 {
          right: auto;
          left: 215px;
          font-size: 2.4rem;
          bottom: -40px;
        }
      }

      .pre-header__content-text-active {
        visibility: visible;
        transition: $animation;
        flex: 1;
        width: 100%;
        opacity: 1;

        h1 {
          &:after {
            width: calc(100% + 18px);
          }
        }
      }
    }
  }
}
@media (min-width:904px){
  .pre-header {
    &__content {
      &-image {
        svg {
          max-width: 90px;
          max-height: 104px;
          margin: 0;
        }
      }

      &-text {
        h1 {
          font-size: 8.8rem;
          line-height: 8.8rem;
          &:after{
            top: -13px;
            margin: 0 0 0 -6px;
          }
        }
        h2 {
          left: 290px;
          font-size: 4.0rem;
          bottom: -40px;
          padding: 0;
        }
      }
    }
  }
}
@media (min-width:1240px){
  .pre-header {
    &__content {
      max-width: 1086px;
      margin: 0 auto;
      &-image {
        svg {
          max-width: 90px;
          max-height: 104px;
          margin: 0 40px 0 0;
        }
      }
      &-text {
        h1 {
          font-size: 8.8rem;
          line-height: 8.8rem;
          position: relative;
          &:after{
            position: absolute;
            top: auto;
            bottom: 13px;
            right: 0;
            margin: 0;
            left: 290px;
          }
        }
        h2 {
          left: 290px;
          font-size: 4.0rem;
          bottom: -40px;
          padding: 0;
        }
      }
    }
  }
}
@media (min-width:1440px){
  .pre-header {
    &__content {
      max-width: 100%;
      margin: 0 70px;
      &-image {
        svg {
          max-width: 160px;
          max-height: 160px;
        }
      }
      &-text {
        h1 {
          font-size: 12rem;
          line-height: 12rem;
          &:after{
            bottom: 18px;
            left: 414px;
          }
        }
        h2 {
          left: 420px;
          font-size: 6.4rem;
          bottom: -60px;
          padding: 0;
        }
      }
    }
  }
}